<a href="https://colab.research.google.com/github/shrad1997/Decision_tree/blob/main/Decision_tree_company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [2]:
company_data= pd.read_csv("/content/Company_Data.csv")

In [3]:
company_data.head(10)

   Sales  CompPrice  Income  Advertising  ...  Age  Education Urban   US
0   9.50        138      73           11  ...   42         17   Yes  Yes
1  11.22        111      48           16  ...   65         10   Yes  Yes
2  10.06        113      35           10  ...   59         12   Yes  Yes
3   7.40        117     100            4  ...   55         14   Yes  Yes
4   4.15        141      64            3  ...   38         13   Yes   No
5  10.81        124     113           13  ...   78         16    No  Yes
6   6.63        115     105            0  ...   71         15   Yes   No
7  11.85        136      81           15  ...   67         10   Yes  Yes
8   6.54        132     110            0  ...   76         10    No   No
9   4.69        132     113            0  ...   76         17    No  Yes

[10 rows x 11 columns]

In [4]:
company_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [5]:
label_encoder = preprocessing.LabelEncoder()
company_data['ShelveLoc']= label_encoder.fit_transform(company_data['ShelveLoc'])
company_data['Urban']= label_encoder.fit_transform(company_data['Urban'])
company_data['US']= label_encoder.fit_transform(company_data['US'])

In [6]:
company_data.head(5)

   Sales  CompPrice  Income  Advertising  ...  Age  Education  Urban  US
0   9.50        138      73           11  ...   42         17      1   1
1  11.22        111      48           16  ...   65         10      1   1
2  10.06        113      35           10  ...   59         12      1   1
3   7.40        117     100            4  ...   55         14      1   1
4   4.15        141      64            3  ...   38         13      1   0

[5 rows x 11 columns]

In [7]:
company_data['ShelveLoc'].unique()

array([0, 1, 2])

In [8]:
company_data.Sales.describe()

count    400.000000
mean       7.496325
std        2.824115
min        0.000000
25%        5.390000
50%        7.490000
75%        9.320000
max       16.270000
Name: Sales, dtype: float64

In [9]:
company_data.dtypes

Sales          float64
CompPrice        int64
Income           int64
Advertising      int64
Population       int64
Price            int64
ShelveLoc        int64
Age              int64
Education        int64
Urban            int64
US               int64
dtype: object

In [16]:
# CONVERTING CONTINUOS VAR INTO CATEGORICAL VAR
Sales_category= pd.cut(company_data.Sales,bins=[0,7.5,16.3],labels=['0','1']) ##Here 0 means low sale and 1 means high sale
y=Sales_category

In [11]:
x=company_data.iloc[:,1:]
x

     CompPrice  Income  Advertising  Population  ...  Age  Education  Urban  US
0          138      73           11         276  ...   42         17      1   1
1          111      48           16         260  ...   65         10      1   1
2          113      35           10         269  ...   59         12      1   1
3          117     100            4         466  ...   55         14      1   1
4          141      64            3         340  ...   38         13      1   0
..         ...     ...          ...         ...  ...  ...        ...    ...  ..
395        138     108           17         203  ...   33         14      1   1
396        139      23            3          37  ...   55         11      0   1
397        162      26           12         368  ...   40         18      1   1
398        100      79            7         284  ...   50         12      1   1
399        134      37            0          27  ...   49         16      1   1

[400 rows x 10 columns]

In [18]:
y

0      1
1      1
2      1
3      0
4      0
      ..
395    1
396    0
397    0
398    0
399    1
Name: Sales, Length: 400, dtype: category
Categories (2, object): ['0' < '1']

In [19]:
# Splitting data into training and testing data set
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=40)

In [20]:
### Building Decision Tree Classifier using Entropy Criteria

In [21]:

model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
model.fit(x_train,y_train)

ValueError: ignored

In [ ]:
np.any(np.isnan(y_train))

In [ ]:
model.fit(x_train,y_train)